services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DEV: "false"
    command: sh ./scripts/start-deploy.sh
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
      - "8001:8001"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PW}
      - DB_PORT=${DB_PORT}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - .env
    depends_on:
      - redis


  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./app/staticfiles:/app/staticfiles
    ports:
      - "80:80"
    depends_on:
      - app

volumes:
  redis_data: